<h1 id="greeting">Welcome to Comedians!</h1>
<h2>Average age = <%= @average_age %></h2>

<% @comedians.each do |comedian| %>
  <p><%= comedian.name %></p>
  <p><%= comedian.age %></p>
  <p>Specials = <%= comedian.specials_count %>
  <br>
  <% comedian.specials.each do |special| %>
    <%= special.name %>
    <br>
  <% end %>
  <br>
<% end %>
